body{
margin:0;
font-family:serif;
background:#f7f4f3;
color:#3a2a26;
}

/* ШАПКА */
header{
background:#f7f4f3;
padding:20px;
text-align:center;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#3a2a26;
font-weight:bold;
}

/* ЗАГОЛОВКИ */
h2{
text-align:center;
margin-top:60px;
}

/* МЕНЮ */
.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
}

.menu-card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.05);
text-align:center;
}

/* ТЕКСТ */
.menu-hint{
text-align:center;
color:#8b6a6a;
}

/* КАРТОШКА */
.text-block{
max-width:600px;
margin:auto;
padding:20px;
}

/* СЛАЙДЕР */
.slider-container{
display:flex;
align-items:center;
}

.slider-track{
display:flex;
overflow-x:auto;
gap:20px;
padding:20px;
}

.card{
min-width:200px;
background:white;
padding:10px;
border-radius:20px;
text-align:center;
}

.card img{
width:100%;
border-radius:15px;
}

.arrow{
background:#e6cfcf;
border:none;
font-size:30px;
cursor:pointer;
}

/* КУКИСЫ */
.cookies{
text-align:center;
padding:50px;
}

.cookie-display{
background:white;
padding:30px;
border-radius:30px;
display:inline-block;
}

.cookie-controls button{
margin:10px;
font-size:25px;
}

/* КОНТАКТЫ */
#contacts{
text-align:center;
padding:40px;
}

#contacts a{
display:block;
margin:10px;
text-decoration:none;
color:#b57c7c;
}

/* ФУТЕР */
footer{
text-align:center;
padding:20px;
}
