* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #f7f2ec;
    color: #4d3326;
    font-family: Arial, sans-serif;
}



header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background: #fffaf5;
}



.logo {
    font-size: 28px;
    font-weight: bold;
}



nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #4d3326;
}



button,
.hero a {
    background: #b9805d;
    color: white;
    padding: 14px 25px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
}



.hero {

    min-height: 750px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:80px 10%;

    background:
    linear-gradient(
    90deg,
    #f7f2ec 50%,
    #eee4d7 50%
    );

}



.hero img {

    width:48%;

    border-radius:45px;

    object-fit:cover;

    box-shadow:
    0 25px 60px rgba(80,50,30,.25);

}



.hero h1 {

    font-size:75px;

    line-height:1;

    color:#4d3326;

}



.hero-text {
    max-width: 500px;
}



section {
    padding: 80px 8%;
}



.cards,
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}



.cards div,
.grid div {

background:#fffaf5;

padding:35px;

border-radius:30px;

box-shadow:
0 15px 35px rgba(90,60,40,.12);

}



.product {
    display: flex;
    gap: 40px;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 35px;
}



.product img {

width:42%;

border-radius:35px;

box-shadow:
0 20px 50px rgba(70,40,20,.2);

}
    width: 40%;
    border-radius: 25px;
}



a {
    color: #8b5e3c;
}



footer {
    padding: 30px;
    text-align: center;
}



@media(max-width:700px){


header,
.hero,
.product {
    flex-direction: column;
}


.hero img,
.product img {
    width: 90%;
}


.cards,
.grid {
    grid-template-columns:1fr;
}


.hero h1 {
    font-size:45px;
}

    #menu {

background:#fffaf5;

}


#menu h2 {

margin-bottom:50px;

}


}

.menu-grid {

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:25px;

}



.menu-card {

background:white;

padding:30px;

border-radius:30px;

box-shadow:
0 15px 40px rgba(70,40,20,.12);

transition:.3s;

}



.menu-card:hover {

transform:translateY(-7px);

}



.special {

display:flex;

align-items:center;

gap:60px;

background:#fffaf5;

}



.special img {

width:45%;

border-radius:40px;

}



.special div {

max-width:500px;

}



@media(max-width:700px){


.special {

flex-direction:column;

}


.special img {

width:90%;

}


.menu-grid {

grid-template-columns:1fr;

}


}

/* красивые контакты */


#contacts a {


display:inline-flex;

justify-content:center;

align-items:center;


background:#b9805d;

color:white;


width:220px;

height:55px;


margin:10px;

border-radius:40px;


text-decoration:none;

font-weight:bold;


transition:.3s;


box-shadow:
0 15px 30px rgba(90,60,40,.15);

}


#contacts a:hover {

transform:translateY(-5px);

background:#8f5d3d;

}



#contacts {

text-align:center;

background:#fffaf5;

border-radius:50px;

margin:40px 8%;

}



#contacts h2 {

margin-bottom:30px;

}

.order-btn {


background:#b9805d;

color:white;

padding:14px 25px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}

section {

animation:appear 1s ease;

}


@keyframes appear {

from {

opacity:0;

transform:translateY(30px);

}


to {

opacity:1;

transform:none;

}

}

.logo img {

width:140px;

height:auto;

}




.corpus {

padding:80px 10%;

background:#f7f1eb;

}


.subtitle {

text-align:center;

color:#7d6250;

margin-bottom:40px;

}



.corpus-grid {


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}



.corpus-card {


background:white;

border-radius:35px;

overflow:hidden;


box-shadow:
0 20px 50px rgba(70,40,20,.12);


transition:.3s;


}



.corpus-card:hover {

transform:translateY(-10px);

}




.corpus-card img {


width:100%;

height:260px;

object-fit:cover;


}




.corpus-card h3,
.corpus-card p,
.corpus-card strong {


margin-left:25px;

margin-right:25px;

}




.corpus-card h3 {

font-size:25px;

color:#4b3025;

}




.corpus-card p {

line-height:1.5;

}



.corpus-card strong {


display:block;

padding-bottom:25px;

font-size:22px;

color:#a26743;

}




@media(max-width:700px){


.corpus-grid {

grid-template-columns:1fr;

}


}
header {

position:sticky;

top:0;

z-index:10;


background:#fffaf5;


box-shadow:
0 5px 20px rgba(0,0,0,.05);


}


footer {

background:#4b3025;

color:white;

text-align:center;

padding:30px;

}
